<div class="container">
	<div class="row" id="errorSection">
		<div class="col-xs-12 text-center">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
			<h1>ERROR <span>{{errorStatus}}</span></h1>
			<p>{{errorMessage}}</p>
	</div>
</div>